<hr>
<h5> Add Team Member: </h5>

<%= form_for ([@team, @team.users.build]) do |f| %>
<div class="row">
    <div class="col">
    <p>
    <%= f.text_field :name, class:"form_control input-nice", placeholder:"Name" %>
    </p>
    </div>

    <div class="col">
    <p>
        <%= f.text_field :email, class:"form_control input-nice", placeholder:"Email" %>
    </p>
    </div>

    <div class="col">
    <p>
        <%= f.text_field :role, class:"form_control input-nice", placeholder:"Role" %>
    </p>
    </div>

    <div class="col">

    <p>
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Roles Select
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Facilitator</a>
            <a class="dropdown-item" href="#">Scribe</a>
            </div>
    </p>
    </div>
</div>
<div class="row">
    <div class="col">

        <p>
                
            <%= f.submit 'Add Member',class:"btn btn-secondary" %>
        </p>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success"><a href="<%=new_team_timeline_path(@team) %>" title="Create" class="text-decoration-none nice-link">Plan the Project</a>
                <svg width="2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                  </svg>
            </button>
        </div>
    </div>
    
<% end %>
<br>
<br>


